<div class="buttonContainer">
    <div class="soundTrueOnEarContainer" ng-mouseover="showDiv = !showDiv" ng-mouseleave="showDiv = !showDiv" ng-init="showDiv = false">
        <img <class="soundTrueOnEarHeadphones" src= '../assets/images/soundTrueOnEar/headphones.png' style="width:100%" 100alt=""></img>
        <button ui-sref='soundTrueOnEar'>+</button>
        <div ng-show="showDiv">
            <h1 >SoundTrue<br>
                on-ear headphones</h1><br>
            <h3>Engineered for your ears.<br>
                Designed for the rest of you.</h3>
        </div>
    </div>
    <div class="soundLinkContainer">
        <img <class="soundLinkHeadphones" src= '../assets/images/soundLinkOnEar/soundLinkOnEarHeadphones.png' style="width: 100%" alt=""> 
        <button ui-sref='soundLink'>+</button>
    </div>
    <div class="quietComfortContainer">
        <img <class="quietComfortHeadphones" src= '../assets/images/quietComfort/quietComfortHeadphones.png' style="width: 100%" alt="">
        <button ui-sref='quietComfort'>+</button>
    </div>
    <div class="freeStyleBudsContainer">
        <img <class="freeStyleBuds" src= '../assets/images/freeStyle/freeStyleBuds.png' style="width: 100%" alt="">
        <button ui-sref='freeStyleBuds'>+</button>
    </div>
    <div class="soundTrueAroundEarContainer">
        <img <class="soundTrueAroundEarHeadphones" src= '../assets/images/soundTrueAroundEar/SoundTrueAroundEarHeadphones.png' style="width: 100%" alt="">
        <button ui-sref='soundTrueAroundEar'>+</button>
    </div>
</div>