<div class="buttonContainer">
    <div class="soundTrueOnEarContainer">
        <button ui-sref='soundTrueOnEar'>+</button>
    </div>
    <div class="soundLinkContainer">
        <button ui-sref='soundLink'>+</button>
    </div>
    <div class="quietComfortContainer">
        <button ui-sref='quietComfort'>+</button>
    </div>
    <div class="freeStyleBudsContainer">
        <button ui-sref='freeStyleBuds'>+</button>
    </div>
    <div class="soundTrueAroundEarContainer">
        <button ui-sref='soundTrueAroundEar'>+</button>
    </div>
</div>