<body>
    <section class="leftColumn">
        <div class="navigationContainer">
            <button class="viewItem"></button>
            <button class="colors"></button>
            <button class="gallery"></button>
            <button class="dimensions"></button>
            <button class="buyNow"></button>
            <button class="back"></button>
        </div>
    </section>
    <section class="rightColumn">
        <div class="toggleContainer">
            <button class="upButton"></button>
            <button class="downButton"></button>
        </div>
    </section>
</body>