<div class="columnsWrapper">
    <section class="leftColumn">
        <div class="navigationContainer">
            <button class="viewItem"></button>
            <button class="colors"></button>
            <button class="gallery"></button>
            <button class="dimensions"></button>
            <button class="buyNow"></button>
            <button class="home" ui-sref='home'></button>
        </div>
    </section>
    <section class="centerColumn">
        <div class="headphones">
            <!--<img src="./assets/images/soundTrueOnEar/headphones.png" alt="headphones">-->
            <div class="headphones-content">
                <div class="label"> <h1>SoundTrue <br> on-ear headphones</h1></div>
                <div class="description"><h5>Fresh designs to fit your style. Better sound for all your music.<br>Listen for yourself.</h5></div>
            </div>
        </div>
    </section>
    <section class="rightColumn">
        <div class="toggleContainer">
            <button class="upButton"></button>
            <button class="downButton"></button>
        </div>
    </section>
</div>