<div class="columnsWrapper">
    <section class="leftColumn">
        <left-side-menu-directive></left-side-menu-directive>
    </section>
<div class="wrapper fade-in">
    <section class="centerColumn">
            <div class="leftDiv"> 
                <a ui-sref='soundTrueOnEarGalleryVideo'>
                    <circle-button-directive color="'rgb(83,66,135)'" class="galleryCircleButton"></circle-button-directive>
                </a>
            </div>
            <div class="centerDiv">
                <a ui-sref='soundTrueOnEarGalleryCenter'>
                <circle-button-directive color="'rgb(83,66,135)'" class="galleryCircleButton"></circle-button-directive>
                </a>
            </div>
            <div class="rightDiv">
            <a ui-sref='soundTrueOnEarGalleryRight'>
                <circle-button-directive color="'rgb(83,66,135)'" class="galleryCircleButton"></circle-button-directive>
            </a>
            </div>
    </section>
</div>
    <section class="rightColumn">
        <right-side-menu-directive></right-side-menu-directive>
    </section>
</div>