<div class="columnsWrapper">
    <section class="leftColumn">
        <left-side-menu-directive></left-side-menu-directive>
    </section>
    <section class="centerColumn">
        <div class="availabilityContainer">
            <div class="availabilityTitle">
                <p>Available at <br>
                    the following stores <br>
                </p>
            </div>
            <div>
                <p>Check availability by color:</p>
                
            </div>
        </div> 
    </section>
    <section class="rightColumn">
        <right-side-menu-directive></right-side-menu-directive>
    </section>
</div>