<div class="columnsWrapper">
    <section class="leftColumn">
        <left-side-menu-directive></left-side-menu-directive>
    </section>
    <div class="wrapper fade-in">
        <section class="dimensionsCenterColumn">
            <div class="specsImage">
                <img src="../assets/images/soundTrueOnEar/dimensionsHeadphones.png" height="800px" width="500px" alt="">
            </div>
            <div class="specsDescription">
                <!--<p>Dimensions</p>-->
                <ul class="specs">
                    <img src="../assets/images/tick-small.png" alt="">
                    <li>
                        <p>Height: 19.10 cm</p>
                    </li>
                    <img src="../assets/images/tick-small.png" alt="">
                    <li>
                        <p>Width: 15.20 cm</p>
                    </li>
                    <img src="../assets/images/tick-small.png" alt="">
                    <li>
                        <p>Depth: 5.10 cm</p>
                    </li>
                    <img src="../assets/images/tick-small.png" alt="">
                    <li>
                        <p>Weight with Cable: 140g</p>
                    </li>

                    <li><img src="../assets/images/tick-small.png" alt="">Cord length: 167.6 cm</li>
                </ul>
            </div>
        </section>
    </div>
    <section class="rightColumn">
        <right-side-menu-directive uplink='soundTrueOnEarGallery' downlink='soundTrueOnEarCarryingCase'></right-side-menu-directive>
    </section>
</div>