<div class="columnsWrapper">
    <section class="leftColumn">
        <left-side-menu-directive></left-side-menu-directive>
    </section>
    <div class="wrapper fade-in">
        <section class="centerColumn">
            <div class="powerfulSoundDescription">
                <p class="powefulSoundTitle">Powerful sound,
                    <br> lightweight design</p>
                <br>
                <p class="powerfulSoundContent">SoundTrue<span class="tm">TM</span>headphones feature an advanced<br> acoustic design for clear, natural
                    audio across the full<br> spectrum from vocalists who hit the high note, right<br> down to a good bass
                    line groove. Go ahead, lose<br> yourself in the music. A softly padded headband and<br> memory foam ear
                    cushions stay comfortable no matter<br> how long your playlist is.
                </p>
            </div>
            <div class="powerfulSoundHeadphones">
            </div>

        </section>
    </div>
    <section class="rightColumn">
        <right-side-menu-directive></right-side-menu-directive>
    </section>
</div>