<div class="columnsWrapper">
    <section class="leftColumn">
        <left-side-menu-directive></left-side-menu-directive>
    </section>
    <div class="wrapper fade-in">
        <section class="centerColumnHome">
            <div class="headphones">
                <img class="purpleHeadphone" src="../assets/images/soundTrueOnEar/headphones.png" alt="">
            </div>
            
                <div class="description">
                    <p class="soundTrueOnEarTitle">SoundTrue<span class="tm">TM</span>
                        <br> on-ear headphones
                    </p>
                    <br>
                    <br>
                    <p class="soundTrueOnEarContent">
                        Fresh design to fit your style. Better sound for all your music.
                        <br>
                        <br>
                         Listen for yourself.
                </div>
        </section>
    </div>
    <section class="rightColumn">
        <right-side-menu-directive uplink="soundTrueOnEarBuyNow" downlink="soundTrueOnEarInTune"></right-side-menu-directive>
    </section>
</div>