<div class="columnsWrapper">
    <section class="leftColumn">
        <left-side-menu-directive></left-side-menu-directive>
    </section>
    <div class="wrapper fade-in">
        <section class="centerColumn">
            <div class="specsDescription">
                <ul class="specs">
                    <div>
                        <p>Carrying Case</p>
                    </div>
                    <img src="../assets/images/tick-small.png">
                    <li>
                        <p>Width: 12.70 cm</p>
                    </li>
                    <li><img src="../assets/images/tick-small.png">
                        <p>Height: 12.70 cm</p>
                    </li>
                </ul>
            </div>
            <div class="specsImage">
                <img class="carryingCaseImage" src="../assets/images/soundTrueOnEar/carryingCase.png" alt="">
            </div>
        </section>
    </div>
    <section class="rightColumn">
        <right-side-menu-directive></right-side-menu-directive>
    </section>
</div>