<div class="columnsWrapper">
    <section class="leftColumn">
        <left-side-menu-directive></left-side-menu-directive>
    </section>
    <section class="centerColumn">
        <div class="inTuneHeadphones">
            <div class="inTuneDescription">
                <p class="inTuneTitle">In tune and in touch</p>
                <br>
                <p class="inTuneContent">SoundTrue<span class="tm">TM</span>headphones are designed specifically for use with your<br>
                iPhone and other Apple devices. The integrated inline remote, located<br>
                on the back of the microphone, lets you control music<br>
                functions-adjust volume, play/pause tracks, skip tracks<br>
                forward/backward, fast forward/rewind and change playlists. You can<br>
                also switch between calls and music with one-touch ease-all without<br>
                reaching for your device.
                </p>
            </div>
        </div>
        
    </section>
    <section class="rightColumn">
        <right-side-menu-directive></right-side-menu-directive>
    </section>
</div>