<div class="columnsWrapper">
    <section class="leftColumn">
        <div class="navigationContainer">
            <div class="viewItem">
                <a ui-sref='soundTrueOnEarHome'><i class="fa fa-headphones" aria-hidden="true"></i></a>
            </div>
            <div class="colors">
                <a ui-sref='soundTrueOnEarColors'><i class="fa fa-tint" aria-hidden="true"></i></a>
            </div>
            <div class="gallery">
                <a ui-sref='soundTrueOnEarGallery'><i class="fa fa-eye" aria-hidden="true"></i></a>
            </div>
            <div class="dimensions">
                <a ui-sref='soundTrueOnEarDimensions'><img class="dimensionsImg" src="../../assets/images/dimensions.png" alt=""></a>
            </div>
            <div class="buyNow">
                <a ui-sref='soundTrueOnEarBuyNow'><i class="fa fa-credit-card-alt" aria-hidden="true"></i></a>
            </div>
            <div class="home">
                <a ui-sref='home'><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>
    <section class="centerColumn">
        <div class="headphones">
            <div class="description">
                <p class="soundTrueOnEarTitle">SoundTrue<br>
                    on-ear headphones
                </p>
                <br>
                <br>
                <p class="soundTrueOnEarContent">
                    Fresh design to fit your style. Better sound for all your music.<br> 
                    Listen for yourself.
                </p>
            </div>
        </div>
    </section>
    <section class="rightColumn">
        <div class="toggleContainer">
            <div class="upButton">
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
            </div>
            <div class="downButton">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
        </div>
    </section>
</div>