<div style="transform: skew(20deg);">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.52 95.52"><defs></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1">
        <circle class="cls-1" cx="47.76" cy="47.76" r="30"/>
        <circle class="cls-2" cx="47.76" cy="47.76" r="15.36"/>
        <g class="cls-3" ng-style="plusColor">  
        <rect  x="47.42" y="44.07" width="0.57" height="7.5"/>
        <rect  x="47.47" y="44.01" width="0.57" height="7.5" transform="translate(0 95.52) rotate(-90)"/>
        </g>
        </g></g></svg>
</div>
