<div style="transform: skew(20deg);">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.52 95.52"><defs><style>.cls-1{opacity:0.12;}.cls-2{fill:#fff;}</style></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g class="cls-1"><circle cx="47.76" cy="47.76" r="47.76"/></g><circle class="cls-2" cx="47.76" cy="47.76" r="15.36"/><rect x="47.42" y="44.07" width="0.57" height="7.5"/><rect x="47.47" y="44.01" width="0.57" height="7.5" transform="translate(0 95.52) rotate(-90)"/></g></g></svg>
</div>
<!--<svg class="click_circle_bg" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" style="transform: matrix(0, 0, 0, 0, 0, 0);">
        <circle fill="white" cx="50" cy="50" r="48"></circle>
        <circle class="progress_circle" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#81c5d8" cx="50" cy="50" r="48"></circle>

</svg>-->