
<!-- Flickity HTML init -->

<!--
     Define the gallery: 
    <div bc-flickity id="myCustomId">
        <figure class="demo__slide" data-ng-repeat="slide in slides">
            <img data-ng-src="{{ slide }}" alt="" />
        </figure>
    </div>-->

    <!-- Define the previous button (optional): -->
    <!--<button bc-flickity-previous bc-flickity-id="myCustomId">Previous</button>-->

    <!-- Define the next button (optional): -->
    <!--<button bc-flickity-next bc-flickity-id="myCustomId">Next</button>-->

<div class="flickty-wrapper">
    <div bc-flickity="{{ myCustomOptions }}">
        <div class="mySlideClassName">
            <img src="../../../assets/images/soundTrueOnEar/gallery/whiteWithWheel.jpg">
        </div>

        <div class="mySlideClassName">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg">
        </div>

    </div>
</div>

<!--<div class="carousel"
  data-flickity='{ "imagesLoaded": true }'>
  <img src="../assets/images/soundTrueOnEar/gallery/whiteWithWheel.jpg" alt="orange tree" width="100%"/>
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="submerged" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look-out" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
</div>-->
