<div class="wrapper fade-in">
    <div class="flickty-wrapper">
        <div bc-flickity="{{ showImage }}">
            <div class="galleryImage">
                <img src="../../../assets/images/soundTrueOnEar/gallery/purpleWithCase.jpg">
            </div>

            <div class="galleryImage">
                <img src="../../../assets/images/soundTrueOnEar/gallery/allColorsPile.jpg">
            </div>
            <div class="galleryImage">
                <img src="../../../assets/images/soundTrueOnEar/gallery/blackHeadphonesWithCase.jpg">
            </div>
            <div class="galleryImage">
                <img src="../../../assets/images/soundTrueOnEar/gallery/blackFoldedHeadphonesWithCase.jpg">
            </div>
            <div class="galleryImage">
                <img src="../../../assets/images/soundTrueOnEar/gallery/allColors.jpg">
            </div>
        </div>
    </div>
</div>