<div class="wrapper fade-in">
    <div class="flickty-wrapper">
        <div bc-flickity="{{ showImage }}">
            <div class="galleryImage">
                <img src="../../../assets/images/soundTrueOnEar/gallery/whiteWithWheel.jpg">
            </div>

            <div class="galleryImage">
                <img src="../../../assets/images/soundTrueOnEar/gallery/gazingWithPurple.jpg">
            </div>
            <div class="galleryImage">
                <img src="../../../assets/images/soundTrueOnEar/gallery/smilingWithTeal.jpg">
            </div>
            <div class="galleryImage">
                <img src="../../../assets/images/soundTrueOnEar/gallery/blackHeadphonesWithGuitar.jpg">
            </div>
            <div class="galleryImage">
                <img src="../../../assets/images/soundTrueOnEar/gallery/dancingWithTeal.jpg">
            </div>
            <div class="galleryImage">
                <img src="../../../assets/images/soundTrueOnEar/gallery/closeupGirlWithTeal.jpg">
            </div>
            <div class="galleryImage">
                <img src="../../../assets/images/soundTrueOnEar/gallery/gazingGuyWithBlack.jpg">
            </div>
        </div>
    </div>
</div>