.boseLogo {
    height: 50px;
    width: 125px;
    min-width: 125px;
    padding-top: 30px;
    // padding-left: calc(14vw - 57px);
    // margin-right: calc(100vh - 232.77px);
}
// a { 
//     cursor: pointer; 
// }
.socialMediaContainer {
    width:100vw;
    display: flex;
    background-color: transparent;
    position: fixed;
    z-index: 10;
}
.share {
    color: white;
    padding:28px 20px;
}
.language {
    color: white;
    padding:25px 20px;
}
.shareIcon{
    height: 20px;
    width: 20px;
    padding:26px 20px;
}
.background{
    height: 100vh;
    width: 20vw;
    background-color: blue;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.productContainerStyles {
    height: 100vh;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(-20deg);
    transition: width .5s;
}


.soundTrueOnEarContainer {
    @extend .productContainerStyles;
    background-color: #649;
    margin-left: -250px;
}

.soundTrueOnEarContainer:hover{
    width: 900px;
}

.soundLinkContainer {
    background-color: #8ce;
    @extend .productContainerStyles;
}
.soundLinkContainer:hover{
    width: 900px;
}
.soundlinkHeadphones{
    margin-left: -250px;
}
.quietComfortContainer {
    background-color: #fc2;
    @extend .productContainerStyles;
}
.quietComfortContainer:hover{
    width: 900px;
}

.freeStyleBudsContainer {
    background-color: #ac3;
    @extend .productContainerStyles;
}
.freeStyleBudsContainer:hover{
    width: 900px;
}
.soundTrueAroundEarContainer {
    background-color: #3cc;
    @extend .productContainerStyles;
    margin-right: -145px;
}

.soundTrueAroundEarContainer:hover{
    width: 900px;
}
button{
    border-radius: 50%;
}

// ********************************
// ********************************
//          SOUNDTRUEONEAR
// ********************************
// ********************************
.leftColumn{
    height: 100vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #664499;
}

.navigationContainer{
    height: 350px;
    // width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.centerColumn{
    height: 100vh;
    width: 60vw;
    background-color: #664499;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.headphones{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 1180px;
    width: 681px;
    margin-top: -561px;
    margin-left: 418px;
    background-image: url('../assets/images/soundTrueOnEar/headphones.png');
    transform: rotate(15deg);
}
.headphones-content {
display: flex;
align-items: center;
}

.label{
    display: flex;
    color: white;
    padding-top: 300px;
}
.description{
    display: flex;
    color: white;
}
.rightColumn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #664499;
    width: 25vw;
}
.toggleContainer{
    height: 350px;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.columnsWrapper{
    display: flex;
}
.upButton{
    margin-right: 50px;
    margin-bottom: 20px;
}
.downButton{
    margin-right: 50px;
}
