@font-face {
    font-family: 'cool-font';
    src: url('../assets/fonts/museoSans/MuseoSansRounded-100.ttf');
}
p{
    font-family: 'cool-font';
}
a{ 
    color: inherit;
} 
li {
    list-style-type: none;
}
.title{
    font-size: 35px;
}
.content{
    font-size: 20px;
}
.boseLogo {
    height: 50px;
    width: 125px;
    min-width: 125px;
    padding-top: 35px;
    margin-right: 1050px;
    // padding-left: calc(14vw - 57px);
    // margin-right: calc(100vh - 232.77px);
}
// a { 
//     cursor: pointer; 
// }
.boseContainer {
    width:100vw;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    z-index: 10;
}
.socialMediaContainer{
    display: flex;
    justify-content: flex-end;
}
.share {
    color: white;
    padding:25px 20px;
}
.language {
    color: white;
    padding:25px 20px;
}
.shareIcon{
    height: 20px;
    width: 20px;
    padding:26px 20px;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.productContainerStyles {
    height: 100vh;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(-20deg);
    transition: width .5s;
}

.soundTrueOnEarContainer {
    @extend .productContainerStyles;
    background-color: rgb(83,66,135);
    padding-left: 200px;
    margin-left: -200px;
    z-index: 1;
    position: relative;
}

// .soundTrueOnEarButton {
//     position: absolute;
//     top: 350px;
//     left: 350px;
//     z-index: 3;
// }

.soundTrueOnEarContainer:hover{
    width: 1500px;
    
}
.soundTrueOnEarDescription{
    position: absolute;
    z-index: 3;
    top: 630px;
    left: 400px;
    color: white;
    white-space: nowrap
}
.soundLinkContainer {
    background-color: #8ce;
    @extend .productContainerStyles;
    overflow: hidden;
    transition: .5s;
    z-index: 1;
    position: relative;
}
.soundLinkContainer:hover{
    width: 1500px;
}
.soundLinkHeadphones{
    padding-bottom: 500px;
    padding-right: 420px;
    transform:scale(10);
}
// .soundLinkButton{
//     position: absolute;
//     top: 332px;
//     left: 210px;
//     z-index: 3;
// }
.soundLinkDescription{
    position: absolute;
    z-index: 3;
    top: 630px;
    left: 190px;
    color: white;
    white-space: nowrap
}

.antiSkew{
transform: skew(20deg)
}

.quietComfortContainer {
    background-color: #fc2;
    @extend .productContainerStyles;
    position: relative;
    z-index: 1;
}
.quietComfortContainer:hover{
    width: 1500px;
}
// .quietComfortButton{
//     position: absolute;
//     top: 332px;
//     left: 210px;
//     z-index: 3;
// }
.quietComfortDescription{
    position: absolute;
    z-index: 3;
    top: 630px;
    left: 170px;
    color: white;
    white-space: nowrap
}

.freeStyleBudsContainer {
    background-color: #ac3;
    @extend .productContainerStyles;
    z-index: 1;
}
.freeStyleBudsContainer:hover{
    width: 1500px;
    // visibility: visible;
}
// .freeStyleButton{
//     position: absolute;
//     top: 332px;
//     left: 210px;
//     z-index: 3;
// }
.freeStyleDescription{
    // visibility: hidden;
    position: absolute;
    z-index: 3;
    top: 630px;
    left: 170px;
    color: white;
    white-space: nowrap
}
.soundTrueAroundEarContainer {
    background-color: #3cc;
    @extend .productContainerStyles;
    // width: 400px;
    padding-right: 200px;
    margin-right: -200px;
    z-index: 1;
}

.soundTrueAroundEarContainer:hover{
    width: 1500px;
}
// .soundTrueAroundEarButton{
//     position: absolute;
//     top: 332px;
//     left: 210px;
//     z-index: 3;
// }
.soundTrueAroundEarDescription{
    position: absolute;
    z-index: 3;
    top: 630px;
    left: 170px;
    color: white;
    white-space: nowrap
}
.soundTrueOnEarCircleButton{
    z-index: 10;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 275px;
    left: 315px;
    transition: all 0.3s;
    
}
.soundTrueOnEarCircleButton:hover{
    transform: scale(1.3);
}
.circleButton{
    z-index: 10;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 275px;
    left: 180px;
    transition: all 0.3s;
}
.circleButton:hover{
    transform: scale(1.3);
}
.cls-1{
    opacity:0.4;
    fill:#fff;
    }
.cls-2{
    fill:#fff;
    }
button{
    border-radius: 50%;
}

// ********************************
// ********************************
//         soundTrueOnEarHome
// ********************************
// ********************************
.columnsWrapper{
    height: 100vh;
    // width: 100vw;
    background-color: rgb(89,69,147);
    display:flex;
}
.leftColumn{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    .navigationContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 397px;
        align-items: center;

    }
}
.centerColumn{
    height: 100%;
    width: 70%;
    display: flex;
    .headphones{
        background-image: url("../../assets/images/soundTrueOnEar/headphones.png");
        background-repeat: no-repeat;
        width:50%;
        height: 131vh;
        margin-top: -400px;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        transform: rotate(20deg);
    }
    .description{
    display: flex;
    color: white;
    margin-top: 955px;
    margin-left: 115px;
    transform: rotate(-20deg);
    white-space: nowrap;
    flex-direction:column;
    .soundTrueOnEarTitle{
        font-size: 300%;
        // display: flex;
    }
    .tm{
        font-size: 15%;
        // padding-bottom: 10px;
    }
    .soundTrueOnEarContent{
        font-size: 100%;
    }    
}
}
.rightColumn{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    .toggleContainer{
        height:200px;
        width:50px;
        // background-color: black;
    }
}

//***********************
//***********************
//***********************
//          MENU
//***********************
//***********************
//***********************
.iconStyle{
    // height: 75px;
    // width: 75px;
    font-size: 50px;
    color: white;
    background-color: rgb(83,66,135);
    border-radius: 50%;
    border: solid 2px;
}
.viewItem{
    @extend .iconStyle;
}
.colors{
    @extend .iconStyle;
}
.gallery{
    @extend .iconStyle;
}
.dimensionsImg{
    height: 50px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}
.buyNow{
     @extend .iconStyle;
}
.home{
     @extend .iconStyle;
}
.upButton{
    font-size: 50px;
}
.downButton{
    font-size: 50px;
}
//****************
//****************
//      inTune
//****************
//****************
.inTuneHeadphones{
    height:100%;
    width:100vw;
    margin-left: -400px;
    background-image: url("../../assets/images/soundTrueOnEar/inTuneHeadphonesWire.png");
}
.inTuneDescription{
    height:100%;
    color:white;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
    display: flex;
    flex-direction: column;
    // font-size: 150%;
    .inTunetitle{
        font-size: 150%;
    }
}
//*****************
//*****************
//   powerfulSound
//*****************
//*****************
.powerfulSoundHeadphones{
    background-image: url("../../assets/images/soundTrueOnEar/powerfulSoundHeadphones.png");
    background-repeat: no-repeat;
    height:100%;
    width: 100%;
    margin-left: 600px;
}
.powerfulSoundDescription{
    color: white;
    white-space: nowrap;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 220px;
    margin-left: 100px;
}
.powerfulSoundtitle{
    font-size: 100%;
}
//*****************
//*****************
//   colorPicker
//*****************
//*****************
.colorSchemeContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 200px;
    width: 450px;
}
.colorScheme{
 height: 25px;
 border: solid 2px;
 border-radius: 30px;
 color: white;
 padding: 10px; 
}
.headphoneColor{
    height: 100%;
    width: 650px;
    // background-image: url('../../assets/images/soundTrueOnEar/colorPicker/Black.png');
    background-repeat: no-repeat;
    transition: background .5s ease;
}
.colorText{
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 55px;
    padding-bottom: 10px;
    white-space: nowrap;
    width: 100%;
    height: 100px;
    margin-top: 310px;
}
//*****************
//*****************
//   gallery
//*****************
//*****************
.galleryContainer{
    height: 100vh;
    width: 300px;
    transform: skew(-25deg);
    transition: width .5s;
}
.leftDiv:hover{
    width: 500px;
}
.leftDiv{
    @extend .galleryContainer;
    background-image: url('../assets/images/soundTrueOnEar/gallery/videoStill.jpg');
    // @extend .galleryDiv:hover;

}
.centerDiv{
     @extend .galleryContainer;
     background-image: url('../assets/images/soundTrueOnEar/gallery/whiteWithWheel.jpg');
}
.centerDiv:hover{
    width: 500px;
}
.rightDiv{
     @extend .galleryContainer;
     background-image: url('../assets/images/soundTrueOnEar/gallery/purpleWithCase.jpg');
}
.rightDiv:hover{
    width: 500px;
}
.galleryCircleButton{
    z-index: 10;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 360px;
    left: 180px;
    transition: all 0.3s;
}
//*****************
//*****************
// galleryCenterDiv
//*****************
//*****************
.flickty-wrapper {
    width: 100%;
    // height: 1000px;
}
// .flickity-prev-next-button:focus {
//   outline: none;
//   box-shadow: 0 0 0 5px #09F;
// }
// .flickity-prev-next-button:disabled {
//     opacity: 0.3;
//     cursor: auto;
// }
// .flickity-prev-next-button.next {
//     right: 10px;
// }
// .flickity-prev-next-button {
//     position: absolute;
//     top: 50%;
//     width: 44px;
//     height: 44px;
//     border: none;
//     border-radius: 50%;
//     background: white;
//     background: hsla(0, 0%, 100%, 0.75);
//     cursor: pointer;
//     -webkit-transform: translateY(-50%);
//     transform: translateY(-50%);
// }

