.boseLogo {
    height: 50px;
    width: 125px;
    min-width: 125px;
    padding-top: 30px;
    // padding-left: calc(14vw - 57px);
    // margin-right: calc(100vh - 232.77px);
}
// a { 
//     cursor: pointer; 
// }
.socialMediaContainer {
    width:100vw;
    display: flex;
    background-color: transparent;
    position: fixed;
    z-index: 10;
}
.share {
    color: white;
    padding:28px 20px;
}
.language {
    color: white;
    padding:25px 20px;
}
.shareIcon{
    height: 20px;
    width: 20px;
    padding:26px 20px;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.productContainerStyles {
    height: 100vh;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(-20deg);
    transition: width .5s;
}

.soundTrueOnEarContainer {
    @extend .productContainerStyles;
    background-color: rgb(83,66,135);
    padding-left: 200px;
    margin-left: -200px;
    z-index: 1;
    position: relative;
}

.soundTrueOnEarButton {
    position: absolute;
    top: 350px;
    left: 350px;
    z-index: 3;
}

.soundTrueOnEarContainer:hover{
    width: 1500px;
}
.productDescription{
    position: absolute;
    z-index: 3;
    top: 600px;
    left: 450px;
    color: white;
}

.soundLinkContainer {
    background-color: #8ce;
    @extend .productContainerStyles;
    overflow: hidden;
    transition: .5s;
    z-index: 1;
    position: relative
}
.soundLinkContainer:hover{
    width: 1500px;
}
.soundLinkHeadphones{
    padding-bottom: 500px;
    padding-right: 420px;
    transform:scale(10);
}
.soundLinkButton{
    position: absolute;
    top: 332px;
    left: 210px;
    z-index: 3;
}
.antiSkew{
transform: skew(20deg)
}
// .quietComfortHeadphones{
    
// }

.quietComfortContainer {
    background-color: #fc2;
    @extend .productContainerStyles;
    position: relative;
    z-index: 1;
}
.quietComfortContainer:hover{
    width: 1500px;
}
.quietComfortButton{
    position: absolute;
    top: 332px;
    left: 210px;
    z-index: 3;
}

.freeStyleBudsContainer {
    background-color: #ac3;
    @extend .productContainerStyles;
    z-index: 1;
}
.freeStyleBudsContainer:hover{
    width: 1500px;
}
.freeStyleButton{
    position: absolute;
    top: 332px;
    left: 210px;
    z-index: 3;
}
.soundTrueAroundEarContainer {
    background-color: #3cc;
    @extend .productContainerStyles;
    // width: 400px;
    padding-right: 200px;
    margin-right: -200px;
    z-index: 1;
}

.soundTrueAroundEarContainer:hover{
    width: 1500px;
}
.soundTrueAroundEarButton{
    position: absolute;
    top: 332px;
    left: 210px;
    z-index: 3;
}
button{
    border-radius: 50%;
}

// ********************************
// ********************************
//          SOUNDTRUEONEAR
// ********************************
// ********************************
.leftColumn{
    height: 100vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83,66,135);
}

.navigationContainer{
    height: 350px;
    // width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.centerColumn{
    height: 100vh;
    width: 60vw;
    background-color: rgb(83,66,135);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.headphones{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 1180px;
    width: 681px;
    margin-top: -561px;
    margin-left: 418px;
    background-image: url('../assets/images/soundTrueOnEar/headphones.png');
    transform: rotate(15deg);
}
.headphones-content {
display: flex;
align-items: center;
}

.label{
    display: flex;
    color: white;
    padding-top: 300px;
}
.description{
    display: flex;
    color: white;
    
}
.rightColumn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(83,66,135);
    width: 25vw;
}
.toggleContainer{
    height: 350px;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.columnsWrapper{
    display: flex;
}
.upButton{
    margin-right: 50px;
    margin-bottom: 20px;
}
.downButton{
    margin-right: 50px;
}